# Ignore analysis results and build artifacts
SYNCO.egg-info/
*.egg-info/
__pycache__/
examples/
examples/oneil/
exmaples/bashi2024/*
examples/trafikk_results*
synco/features/__pycache__/
synco/__pycache__/
